<script defer async src="https://mad.convoca.la/gancio-events.es.js"></script>
<gancio-events baseurl="https://mad.convoca.la" show_recurrent="true" tags="HacklabUniPopular" sidebar="false" theme="light"></gancio-events>